.site-wrapper {
    width: 100vw;
    width: 100dvw;

    min-height: 100vh;            /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    
    display: flex;
    flex-direction: column;

    /* font-size: clamp(1rem, 2vw + 0.50rem, 2rem); */
    font-family: 'Maven Pro', sans-serif;
}