.carousel--container {
  background-color: var(--tertiary--bg);
  width: 800px;
  height: 355px;
  /* padding: 40px; */
  /* background: #419be0; */
  /* overflow: hidden; */
  /* position: relative; */
}

.carousel-card--container{
  display:flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.carousel--container img {
  max-width: 100%;

  position: absolute;
  z-index: -1;
}
.carousel--container p {
  z-index: 1;
  color: var(--primary--txt);
}
.carousel--container button{
  z-index: 1;
  margin-bottom: 5px;
}









.slick-dots li {
  margin: 0;
}

.slick-dots {
  margin-top: 50px;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
  color: transparent;
  opacity: 1;
}

.slick-dots li button:before {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 20%;
  display: inline-block;
  height: 5px;
  width: 10px;
}
.slick-dots li.slick-active button:before {
  background-color: var(--primary--btn);
}