/* 
font-family: 'Maven Pro', sans-serif;
font-family: 'Righteous', cursive; 
*/

:root {
  /* light */
  --primary--txt: black;
  --primary--bg : white;
  --secondary--bg : #495579;
  --tertiary--bg : #AAAABB;
  --other--primary--bg: #C69749;
  --other--secondary--bg: #FF8C00 ;


  --primary--btn : #4290dd;
  --secondary--btn : #195FA3;

  /* dark */
  --primary--txt: white;
  --primary--bg : black;
  --secondary--bg : #282A3A;
  --tertiary--bg : #09090F;
  --other--primary--bg: #735F32;
  --other--secondary--bg: #FFDAB9;

  --primary--btn : #195FA3;
  --secondary--btn : #4290dd;
}